<!DOCTYPE html>
<html ng-app="DemoApp">

<head>
  <meta charset="UTF-8">
  <title>angular-carousel demo</title>
  <meta name="viewport" content="width=620, user-scalable=no">
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- bower:css -->
  <!-- endbower -->
  <link href="dist/angular-carousel.css" rel="stylesheet" type="text/css">
  <link href="demo/demo.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="DemoCtrl">
  <header>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">AngularJS Touch Carousel</a>
          <ul class="nav navbar-nav navbar-right pull-right">
            <li><a href="https://github.com/revolunet/angular-carousel"><i class="fa fa-github"></i> Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <section class="text-center">
    <!-- <ul rn-carousel rn-carousel-indicator>
      <li ng-repeat="slide in slidesIntro">
        <img class="img-responsive fullwidth" ng-src="{{ slide.img }}">
      </li>
    </ul> -->
    <div class="jumbotron">
      <div class="container">
        <h1>AngularJS Touch Carousel</h1>
        <h3>Transform your ng-repeat or DOM nodes in a mobile-friendly carousel just by adding a 'rn-carousel' attribute to your HTML; AngularJS directives FTW :)<br></h3>
        <h4>Carousels are data-bound to your ngRepeat collections and can be DOM buffered (good for performance)</h4>
        <hr>
        <h3>Features:</h3>
        <a href="" class="btn btn-primary">Responsive</a>
        <a href="" class="btn btn-primary">Mobile friendly</a>
        <a href="" class="btn btn-primary">Horizontal</a>
        <a href="" class="btn btn-primary">Vertical</a>
        <a href="" class="btn btn-primary">Add slides dynamically</a>
        <a href="" class="btn btn-primary">Show part of next slide</a>
        <a href="" class="btn btn-primary">Nestable</a>
        <hr>
        <small>Swipe these demos with your mouse or finger</small>
      </div>
    </div>
  </section>
  <article class="container text-center">
    <h3>ngRepeat demo (buffered carousel)</h3>
    <p>A simple buffered ng-repeat with a custom template.
      <br>Swipe 50 slides with only 5 slides in the DOM
    </p>
    <div class="row">
      <div class="col-sm-6">
        <ul class="my-slider" rn-carousel rn-carousel-buffered>
          <li ng-repeat="slide in slides|filter:{odd:true}:true track by slide.label" ng-style="{'background-image': 'url(' + slide.img + ')'}">
            <div class="debug">
              {{ slide.label }} / {{ slides.length }}
              <br>carouselIndex: {{ carouselIndex }}
              <br>carouselBufferIndex: {{ carouselBufferIndex }}
              <br>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <code>ul rn-carousel rn-carousel-buffered class="my-slider"/ul</code>
      </div>
    </div>

    <h3>template-based demo</h3>
    <p>Various blocks automagically converted to a carousel.
      <br>Just add rn-carousel-indicator to display clickable indicators
    </p>
    <div class="row">
      <div class="col-sm-6">
        <ul class="my-slider standard" rn-carousel rn-carousel-indicator>
          <li ng-style="{'background-color': colors[0]}">
            This is a standard template
            <div class="big">slide #1</div>
          </li>
          <li ng-style="{'background-color': colors[10]}">
            Here's sophie :
            <br>
            <img src="./demo/img/sophie.jpeg">
          </li>
          <li ng-style="{'background-color': colors[30]}">
            A friend of mine :
            <br>
            <img src="./demo/img/grumpy.jpg" height="120">
          </li>
          <li ng-style="{'background-color': colors[40]}">
            And to finish :
            <iframe width="100%" height="80%" src="//www.youtube.com/embed/OQSNhk5ICTI" frameborder="0" allowfullscreen></iframe>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <code>ul rn-carousel rn-carousel-buffered class="my-slider"/ul</code>
      </div>
    </div>

    <h3>Standard carousel with thumbs navigation </h3>
    <p>This one has an initial index and the thumbs controls the rn-carousel-index binding</p>
    <div class="row">
      <div class="col-sm-6">
        <ul class="my-slider" rn-carousel rn-carousel-index="slideIndex2">
          <li ng-repeat="slide in slides2" ng-style="{'background-image': 'url(' + slide.img + ')'}"></li>
        </ul>
        <div class="thumbs">
          <div class="thumb" ng-repeat="slide in slides2" ng-click="$parent.slideIndex2=$index" ng-style="{'background-image': 'url(' + slide.img + ')'}" ng-class="{'is-active': ($parent.slideIndex2==$index)}"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <code>ul rn-carousel rn-carousel-buffered class="my-slider"/ul</code>
      </div>
    </div>

    <h3>carousel with builtin prev/next controls</h3>
    <p>just add rn-carousel-control attribute to enable builtin controls</p>
    <div class="row">
      <div class="col-sm-6">
        <ul class="my-slider" rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-control>
          <li ng-repeat="slide in slides|limitTo:5" ng-style="{'background-image': 'url(' + slide.img + ')'}">
            <div class="debug">
              {{ slide.label }} / {{ slides.length }}
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <code>ul rn-carousel rn-carousel-buffered class="my-slider"/ul</code>
      </div>
    </div>

    <h3>buffered ngRepeat carousel with custom controls</h3>
    <p>Custom controls demo, just update the rn-carousel-index index binding</p>
    <div class="row">
      <div class="col-sm-6">
        <ul class="my-slider" rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-index="slideIndex" rn-carousel-swipe="{{swipe}}">
          <li ng-repeat="slide in slides4" ng-style="{'background-image': 'url(' + slide.img + ')'}">
            <div class="debug">
              {{ slide.label }} / {{ slides4.length }}
              <br>carouselIndex: {{ carouselIndex }}
              <br>carouselBufferIndex: {{ carouselBufferIndex }}
              <br>
            </div>
          </li>
        </ul>
        <div class="controls">
          <button class="btn btn-default" ng-disabled="slideIndex==0" ng-click="prev()">prev</button>
          <span>{{ slideIndex + 1 }} / {{ slides4.length }}</span>
          <button class="btn btn-default" ng-click="next()" ng-disabled="slideIndex==slides4.length-1">next</button>
          <button class="btn btn-default" ng-click="pushSlide()">add 3 slides</button>
          <button class="btn btn-default" ng-click="toggleSwipe()">toggle swipe ({{ swipe?'on':'off' }})</button>
        </div>
      </div>
      <div class="col-sm-6">
        <code>ul rn-carousel rn-carousel-buffered class="my-slider"/ul</code>
      </div>
    </div>

    <h3>object-based ngRepeat carousel with indicators</h3>
    <p>Use the object-based ngRepeat syntax. (not compatible with buffering)</p>
    <div class="row">
      <div class="col-sm-6">
        <ul class="my-slider slider3" rn-carousel rn-carousel-indicator rn-carousel-index="slideIndex3">
          <li ng-repeat="(label, color) in slides3" ng-style="{'background-color': color}" class="center">
            <div class="big">{{ label }}</div>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <code>ul rn-carousel rn-carousel-buffered class="my-slider"/ul</code>
      </div>
    </div>

    <h3>togglable carousel via ng-if</h3>
    <p>If you use ng-if, be sure to use the <a target="_blank" href="http://stackoverflow.com/questions/17606936/angularjs-dot-in-ng-model">dot-notation syntax</a> for the index binding as it creates a child scope.</p>
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-primary" ng-click="showCarousel=!showCarousel">toggle carousel - {{ demo.ifIndex }} / {{ slides5.length }}</button>
        <br><br>
        <ul class="my-slider slider3 ifCarousel" ng-if="showCarousel" rn-carousel rn-carousel-indicator rn-carousel-index="demo.ifIndex">
          <li ng-repeat="color in slides5" ng-style="{'background-color': color}" class="center">
            <div class="big">#{{ $index + 1 }}</div>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <code>ul rn-carousel rn-carousel-buffered class="my-slider"/ul</code>
      </div>
    </div>

    <h3>nested carousels</h3>
    <p>Carousels can also contain inner carousels.</p>
    <div class="row">
      <div class="col-sm-6">
        <ul class="my-slider standard" rn-carousel rn-carousel-indicator>
          <li ng-style="{'background-color': colors[0]}">
            This is a slide with an inner carousel:
            <br>
            <ul class="my-slider nested" rn-carousel rn-carousel-indicator>
              <li ng-repeat="color in slides5" ng-style="{'background-color': color}">
                Slide #{{ $index + 1 }}
              </li>
            </ul>
          </li>
          <li ng-style="{'background-color': colors[30]}">
            A friend of mine :
            <br>
            <img src="./demo/img/grumpy.jpg" height="120">
          </li>
          <li ng-style="{'background-color': colors[40]}">
            And to finish :
            <iframe width="100%" height="80%" src="//www.youtube.com/embed/OQSNhk5ICTI" frameborder="0" allowfullscreen></iframe>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <code>ul rn-carousel rn-carousel-buffered class="my-slider"/ul</code>
      </div>
    </div>

    <h3>multple images in same slide</h3>
    <p></p>
    <div class="row">
      <div class="col-sm-8">
        <ul id="multiple-images-slider" class="my-slider" rn-carousel rn-carousel-indicator rn-carousel-control>
          <li ng-repeat="slide in demo6.elements | partition:demo6.limit" ng-init="slideIndex=$index">
            <div class="col-xs-4" ng-repeat="item in slide" ng-init="itemIndex = $index + 1 + demo6.limit * slideIndex">
              slide #{{ itemIndex }}
              <img ng-src="{{ item.img }}">
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <code>ul rn-carousel rn-carousel-buffered class="my-slider"/ul</code>
      </div>
    </div>

    <h3>show part of next slide</h3>
    <p></p>
    <div class="row">
      <div class="col-sm-6">
        <ul id="show-next-slider" class="my-slider" rn-carousel rn-show-next="10">
          <li ng-repeat="slide in slides7" ng-style="{'background-image': 'url(' + slide.img + ')'}"></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <code>ul rn-carousel rn-carousel-buffered class="my-slider"/ul</code>
      </div>
    </div>

    <h3>vertical slider</h3>
    <p></p>
    <div class="row">
      <div class="col-sm-6">
        <ul id="vertical-slider" class="my-slider" rn-carousel="vertical" rn-carousel-indicator>
          <li ng-repeat="slide in slides8" ng-style="{'background-image': 'url(' + slide.img + ')'}"></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <code>ul rn-carousel rn-carousel-buffered class="my-slider"/ul</code>
      </div>
    </div>

    <h3>Other demos</h3>
    <ul>
      <li><a href="demo/flickr-full" target="_blank">Flickr browser</a>
      </li>
    </ul>
  </article>
</body>
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-swipe/dist/angular-swipe.js"></script>
<!-- endbower -->
<script src="dist/angular-carousel.js"></script>
<script src="demo/demo.js"></script>

</html>
